App{text-align: center;
  height: 5000px;
  }
  
  .scrollTop {
  position: fixed; 
  width: 5%;
  bottom: 20px;
  right: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  }
  
  .scrollTop:hover{
  opacity: 2;
  
  }
  
  @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
  }